<%- include('../partials/head'); %>

<%- include('../partials/header'); %>
    <div class="character-card-container">
        <div class="character-card">
            <div class="character-name">Name</div>
            <div class="character-picture">Description</div>
            <div class="character-stats">Stats</div>
        </div>
        
    </div>
<%- include('../partials/footer'); %>