<%- include('../partials/head'); %>

<%- include('../partials/header'); %>
    <div class="container">
        <div class="welcome">Welcome on my app !</div>
        <div class="content-index">On this app you will be able to create characters and maybe fight if i haven't the flemme to do the fight system</div>
    </div>
<%- include('../partials/footer'); %>